.modal {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: modal-fade-in 0.3s;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__container {
  position: relative;
  background: #fff;
  border-radius: 16px;
  padding: 34px 36px 28px;
  max-width: 430px;
  width: 90%;
  animation: modal-slide-up 0.3s;
}

@keyframes modal-slide-up {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

.modal__close {
  position: absolute;
  top: -10px;   /* Mueve el botón hacia arriba */
  right: -30px; /* Mueve el botón hacia la derecha */
  width: 24px;
  height: 24px;
  background: transparent url('../../../src/assets/images/close-icon.svg') center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 22px;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #1a1b22;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
}

.modal__input {
  padding: 16px 12px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: border-color 0.3s;
}

.modal__input:focus {
  border-bottom-color: #2f71e5;
}

.modal__input::placeholder {
  color: #b6bcbf;
}

.modal__button {
  margin-top: 16px;
  padding: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background: #2f71e5;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.3s;
}

.modal__button:hover {
  background: #347eff;
}

.modal__switch {
  display: block;
  margin: 16px auto 0;
  font-size: 14px;
  line-height: 17px;
  color: #2f71e5;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__switch:hover {
  opacity: 0.7;
}

.modal__switch-link {
  text-decoration: underline;
}
